//
//  Secrets-Staging.xcconfig
//  SYNC
//
//  Created by Marcus Tiffen (CODING) on 12/11/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


//API_SEND_NOTIFICATION_URL = "https://us-central1-syncc-staging.cloudfunctions.net/sendNotification"
//API_DELETE_USER_URL = "https://us-central1-syncc-staging.cloudfunctions.net/deleteUser"
//API_SEND_LIKE_URL = "https://us-central1-syncc-staging.cloudfunctions.net/sendLike"
//API_SEND_LIKE_FREE_URL = "https://us-central1-syncc-staging.cloudfunctions.net/sendLikeFree"
//API_UNMATCH_USER_URL = "https://us-central1-syncc-staging.cloudfunctions.net/unmatchUser"

API_SEND_NOTIFICATION_URL = https:/$()/us-central1-syncc-staging.cloudfunctions.net/sendNotification
API_DELETE_USER_URL = https:/$()/us-central1-syncc-staging.cloudfunctions.net/deleteUser
API_SEND_LIKE_URL = https:/$()/us-central1-syncc-staging.cloudfunctions.net/sendLike
API_SEND_LIKE_FREE_URL = https:/$()/us-central1-syncc-staging.cloudfunctions.net/sendLikeFree
API_UNMATCH_USER_URL = https:/$()/us-central1-syncc-staging.cloudfunctions.net/unmatchUser
