<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_DELETE_USER_URL</key>
	<string>$(API_DELETE_USER_URL)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to help you create activities near you</string>
	<key>API_SEND_LIKE_FREE_URL</key>
	<string>$(API_SEND_LIKE_FREE_URL)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to help you create activities near you.</string>
	<key>API_SEND_LIKE_URL</key>
	<string>$(API_SEND_LIKE_URL)</string>
	<key>API_SEND_NOTIFICATION_URL</key>
	<string>$(API_SEND_NOTIFICATION_URL)</string>
	<key>API_UNMATCH_USER_URL</key>
	<string>$(API_UNMATCH_USER_URL)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.marcustiffen.SYNC</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-764598027802-ios-0384be62b1f7f6067ef3a3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-352368810109-ios-a720d98e1286750add3914</string>
			</array>
		</dict>
	</array>
	<key>FirebaseMessagingAutoInitEnabled</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Request calendar access to add activity</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
</dict>
</plist>
